.contact {

  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 2rem);
  padding: 1rem;

  &-content, &-media {
    width: calc(50% - 2rem);
    margin: 1rem;
  }
  &-content {

  }

  &-media {

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}