.footer {
  background: powderblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  overflow: hidden;
  height: 8rem;

  &-logo {
    &-image {
      width: 10rem;
    }
  }
  &-contact {
    h2 {
      margin: .5rem 0 0;
    }
    a {
      display: block;
      text-decoration: none;
      color: black;
    }
  }
}